/*
#683014 saddle brown
#f6f0de beige
#30270e Dark Olive green
#979166 dark khaki
#dfc5a4 Tan

second image

#b76840 Peru
#6d6754 dim gray
#9c9277 rosy brown

New ones

#29F073 much lighter one
#22D464 lighter olive for buttons
#19E063 darker olive


#EAA565 copper light

Nuevos Nuevos

#3f888f; turquesa background

*/




body {

  background-image: url("img/background-pattern.png");
  background-repeat: repeat;
  /*
  background-color: #f6f0de
  */
  background-color: #3f888f ;

}

h1 {
  text-align: center;
  margin-top:10px
}

.vertical-hr {

    color: black;
    border:         none;

    height:         10vh;
    width:          1px;

}


.navbar{

background-color: #683014 ;


}


.col-4 {

  color: #683014;
  padding: 20px;
  padding-left: 10px;
}

/*
                      botones
*/
.btn-outline-success {
  background-color: #22D464 ;
  color: white;
  margin-top: 10px;


 }
.btn-outline-success:hover {
  background-color: #29F073 ;


}

#landing-page{
  border-radius: 10px;
}

#edit-space {
  border-radius: 10px;
  margin: 10px;
}

#menu{
  border-radius: 10px;
  padding:20px; margin-left:10px;
  border-right: 100px;
  border-color: black;

}
