/*
#683014 saddle brown
#f6f0de beige
#30270e Dark Olive green
#979166 dark khaki
#dfc5a4 Tan

second image

#b76840 Peru
#6d6754 dim gray
#9c9277 rosy brown

New ones

#29F073 much lighter one
#22D464 lighter olive for buttons
#19E063 darker olive


#EAA565 copper light

Nuevos Nuevos

#3f888f; turquesa background

*/
ul.a {
  list-style-type: circle;
}
.row {
    width: 100%;
    margin: 0em;
  }

/*Login*/
.font-l-login{
  font-size: 5em;
  color:#FFF;
  font-family: 'Averia Serif Libre', cursive;
}
@media screen and (max-width: 680px) {
  .font-l-login{
    font-size: 4em;
  }
}
/*Landing*/
#landing-page{
  border-radius: 10px;
}
.img-landing{
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 680px) {
  .img-landing{
  max-width: 50%;
  height: auto;
}
}
.img-logo-landing{
  max-width: 40%;
  height: auto;
}
@media screen and (max-width: 800px) {
  .img-logo-landing{
  max-width: 80%;
  height: auto;
}
}
.h-title-l{
  min-height:20em;
}
.h-content-l{
  min-height:20em;
}
.font-l-titles{
  font-size: 7em;
  color:#FFF;
  font-family: 'Averia Serif Libre', cursive;
}
@media screen and (max-width: 520px) {
  .font-l-titles{
    font-size: 4em;
  }
}
.font-l-subtitles{
  font-size: 3em;
  color:#FFF;
  padding: 0em .4em;
}
@media screen and (max-width: 700px) {
  .font-l-subtitles{
    font-size: 2.5em;
  }
}
.font-l-content{
  padding: .1em .9em;
  font-size: 1.6em;
  color:#FFF;
}
@media screen and (max-width: 416px) {
  .font-l-content{
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1000px) {
  .margin-left-7{
    margin-left: 7em;
  }
}
/*Clases de Fuentes*/
.font-logo{

font-family: 'Arvo', serif;

}
.font-general{
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}
.font-slogan{
  font-size: 3em;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
  color: #FFF;
}
/*Perfil*/
.profile-background{
  background-image: url("../img/profile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height:15em;
}
.profile{
   object-fit: cover;
  width:164px;
  height:164px;

  border-radius: 50%;
}
/*Clases de Color*/

.bg-dark-olive{
  background-color: #15aa4d;
}
.bg-turquoise{
  background-color: #3f878f;
}
.bg-tr-turquoise{
  background-color: #3f878fe6;
}
.bg-tr-dark-turquoise{
  background-color: #074b52e6;
}

.navbar-light .navbar-nav .nav-link{
    color: #3c8181;
    font-size: 1.3em;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#0e6d0b;
}

.f-dark-olive{ 
  color: #15aa4d!important;
}  
.f-turquoise{
  color: #3f888f;
}
.f-white{
  color: #fff;
}
.bg-tr-black{
  background-color: #000505fa;
}
.bg-tr-white{
  background-color: #fbfbfbd9;
}
img {
  max-width: 90%;
  height: auto;
}
.img-logo-nav {
  max-width: 3.2em;
  height: auto;
}

/*Clases de navbar*/
.navbar-brand {
    display: inline-block;
    padding: 0.1rem 1rem;
    font-size: 1.6rem;
    line-height: inherit;
    font-weight: bold;
    white-space: nowrap;
    margin: 0px 3px 0px -12px;
    color: #15aa4d!important;
}
.navbar-brand:hover{
 background-color: #daefda;
}
/*Clases de Flex*/
.flex-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
.block{
  
  display: block;
}
body {

  background-image: url("img/background-pattern-2.png");
  background-repeat: repeat;
  /*
  background-color: #f6f0de
  */
  background-color: #3f888f ;

}
.square-h-2{
    height: 1em;
  }
@media screen and (min-width: 574px) {
  .square-h-2{
    display: none; 
  }
}

h1 {
  text-align: center;
  margin-top:10px
}

.vertical-hr {

    color: black;
    border:         none;

    height:         10vh;
    width:          1px;

}



.col-4 {

  color: #683014;
  padding: 20px;
  padding-left: 10px;
}
/*Clases de Tamaño*/
.w-100{
  width: 100%;
}
.h-100{
  height:100%;
}
.w-9{
  width: 9%;
}

/*Clases de Lineas*/
.vl-login{
  border-left: 4px;
  border-left-style: solid;
  border-color:#3f888f;

}
@media screen and (max-width: 574px) {
  .vl-login{
  border-left: 0px;
  border-left-style: none;
  }
}
/*

                      botones
*/
.btn-outline-success {
  background-color: #22D464 ;
  color: white;
  font-size: 1.0em;

 }
.btn-outline-success:hover {
  background-color: #29F073 ;


}
#login{
    width: 90%;
    min-width: 18em;
    padding: 1.9em;
    max-width: 40em;

}
#registro {
    width: 90%;
    min-width: 18em;
    padding: 1.9em;
    max-width: 40em;

}

html,body { 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
}
#edit-space {
  border-radius: 10px;
  margin: 10px;
}

#menu{
  height:90%;
  max-width: 12em;
  padding: 0.7em;

}
.input-green{
    width: 100%;
    border-color: #9dc5a4;
    border-radius: 3.5px;
    border-width: 1px;
    border-style: solid;
    background-color: #e2e4e333;

}
.file{
  background-color: #FFF;
  border-radius: .25em;
  max-width: 14em;
  margin: .4em;
  font-size: 1.2em;
  height: 3em;
  padding: .4em;
  }
.file i{
  color: #67d565;
  font-size:2em;
  }
  #file-system{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding:1em;
    min-width: 12.4em;
    height: 90%; 
    position: fixed; 
    z-index: 1;
    top: 57px;
    left: 161px;
    overflow-y:auto;
  }
  .jc-flex-start-center{
    display: flex; 
    align-items: center;
    justify-content: flex-start;
  }
.menu-btn{
  padding:.4em;
  border-radius:.25em;
  margin-bottom: .4em;

}
.menu-btn i{
  font-size:1.6em;

}

@media screen and (max-width: 380px) {
  .menu-btn label{
    display: none;
  }

    #file-system{
    top: 72px;
    left: 48px;
  }
}
.text-overflow { 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*Context Menu*/
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
    display: block;
}
.custom-menu{
  background: #dbe5e6;
  position: absolute;
  z-index: 1;
}

.custom-menu li:hover {
    background-color: #67d565;
}
/*End of Context Menu*/
/*Editor*/
.ace_editor {
    height: 35em;
}
#lb-filename{
  padding: .5em
}
/*Final Editor*/
#btn-upgrade{
  position: absolute;
  bottom: 1em;
}
#lb-folder{
    font-size: 1em;
    padding: 0.7em;
    margin-left: 2em;
}
#contenedor-mensajes{
  height:75%;
  border-bottom: .6em;
    /* border-bottom: solid; */
    border-color: #51ab4e;
    border-bottom-style: solid;
}
#chat{
  padding: 1em;
}